<h1>Student:  <%= @student.first_name %></h1>

<div>
  <%= link_to 'New Appointment', new_mentoring_student_appointment_path(@student) %>
</div>
<div>
  <%= render partial: 'mentoring/appointments/appointment', collection: @appointments %>
</div>
