<h1>Appointments for <%= @appointments.first.student.first_name %></h1>
<div>
  <%= link_to "Back", student_path(params[:student_id]) %>
</div>
<div>
  <%= link_to 'New Appointment', new_student_appointment_path %>
</div>
<div>
  <%= render partial: 'appointment', collection: @appointments %>
</div>
