<div>
  <%= link_to mentoring_student_appointment_path(appointment.student, appointment) do %>
    <div><%= "#{appointment.student.name} #{appointment.created_at.strftime('%m/%d/%Y')}" %></div>
  <% end %>
</div>
