<h1>New Appointment</h1>

<div>
  <%= render partial: 'mentoring/questions/form', locals: {appointment: @appointment, question: Question.new}, as: :question %>
</div>

<div class="questions">

</div>
