  <nav>
    <%= link_to "SHOKO", root_path, class: "nav-logo" %>
    <%= link_to "Skills", skills_path %>
    <%= link_to "Bookmarks", bookmarks_path %>

    <%= render "navigation/login" %>
  </nav>
